.App {
  /* text-align: center; */
  margin: 40px auto;
  /* display: grid; */
  /* gap: 60px; */
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
.done {
  text-decoration: line-through;
}

li {
  margin-top: 10px;
}
span {
  margin-left: 10px;
}

.delete-btn {
  font-size: 0.7rem;
  color: #999;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: auto 48px;
}

.form-input {
  height: 48px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid lightgray;
  padding-left: 10px;
}

.form-btn {
  font-size: 1.5em;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: lightgray;
}
