.App {
  /* text-align: center; */
  margin: 40px auto;
  font-size: 20px;
  display: grid;
  grid-template-rows: 48px auto 100px;
}
ul {
  list-style: none;
  padding: 0;
}
.done {
  text-decoration: line-through;
}

li {
  margin-top: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  height: 33px;
  padding-top: 10px;
}

span {
  margin-left: 10px;
}

.delete-btn {
  font-size: 0.7rem;
  color: #999;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: auto 48px;
}

.form-input {
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid lightgray;
  padding-left: 10px;
}

.form-btn {
  font-size: 1.5em;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: lightgray;
}

input[type='checkbox'] + label::before {
  width: 15px;
  height: 15px;
  background-color: #000;
  display: block;
  content: '';
  float: left;
  margin-right: 5px;
}

/* .todo-checkbox {
  
  background-color: hotpink;
} */
